﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model IEnumerable<SistemaDeInventarios.Models.Articulos>

    List<SistemaDeInventarios.Models.Bodega> lista_bodegas = ViewBag.ListaBodega;
}
    <div id="message" class="alert alert-info text-center alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h5>@ViewBag.Message</h5>
    </div>
    

<ul class="nav nav-pills shadow-lg p-1 mb rounded mt-5" id="myTab" role="tablist">
    <li class="nav-item rounded">
        <a class="nav-link active" id="articulos-tab" data-toggle="pill" href="#articulos" role="tab" aria-controls="articulos" aria-selected="true">Articulos</a>
    </li>
    <li class="nav-item rounded">
        <a class="nav-link" id="bodega-tab" data-toggle="pill" href="#bodega" role="tab" aria-controls="bodega" aria-selected="true">Bodega</a>
    </li>
    <li class="nav-item rounded">
        <a class="nav-link" id="nuevo-tab" data-toggle="pill" href="#nuevo" role="tab" aria-controls="nuevo" aria-selected="true">Crear artículo <i class="fas fa-plus"></i></a>
    </li>
</ul>

<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active mt-4" id="articulos" role="tabpanel" aria-labelledby="articulos-tab">

        <input type="text" class="form-control" onkeyup="Filter()" id="btnfiter" placeholder="Buscar por ID ó nombre" />

        <div class="table-responsive mt-2 ">
            <table id="tabla-articulos" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Precio Venta
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Bodega
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="fila @Html.DisplayFor(modelItem => item.id)">
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precioVenta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.catalogo.estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bodega.nombre)
                        </td>
                        <td>
                            <a href="#" onclick="RellarModal(@Html.DisplayFor(modelItem => item.id))" data-toggle="modal" data-target="#EditArticulo">Editar</a> |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="mt-4 mb-4 tab-pane fade" id="bodega" role="tabpanel" aria-labelledby="bodega-tab">        

        <div class="table-responsive mt-2">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Capacidad MAX
                        </th>
                        <th>
                            Capacidad Disponible
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lista_bodegas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.capacidadMAX)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.capacidadDisponible)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="mt-4 mb-4 tab-pane fade" id="nuevo" role="tabpanel" aria-labelledby="nuevo-tab">

        <form action="/Home/Create" method="post">
            <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del artículo" maxlength="20" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="descr" class="col-sm-2 col-form-label">Descripción:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="descr" name="descr" placeholder="Descripción" maxlength="100" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="precioVenta" class="col-sm-2 col-form-label">Precio Venta:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="precioVenta" name="precioVenta" placeholder="Precio Venta" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="cantidad" class="col-sm-2 col-form-label">Cantidad:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Número de artículos" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="CatalogoId">Seleccionar el estado:</label>
                    @Html.DropDownList("CatalogoId", ViewBag.tipoCatalogo as SelectList, new { @class = "form-control" })

                </div>
                <div class="form-group col-md-6">
                    <label for="bodega">Seleccionar la bodega:</label>

                    @Html.DropDownList("BodegaId", ViewBag.Bodega as SelectList, new { @class = "form-control" })
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="col-md-5 btn btn-lg btn-primary">Guardar</button>
                </div>

            </div>
        </form>
    </div>

</div>


<div class="modal fade" id="EditArticulo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Edita artículo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form action="/Home/Edit" method="post">
                    <div class="form-group row">
                        <label for="edit_id" class="col-sm-2 col-form-label">ID:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control" id="edit_id" name="edit_id">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="edit_nombre" class="col-sm-2 col-form-label">Nombre:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit_nombre" name="edit_nombre" required maxlength="20" placeholder="Nombre del artículo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="edit_descr" class="col-sm-2 col-form-label">Descripción:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit_descr" name="edit_descr" placeholder="Descripción" maxlength="100" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="edit_precioVenta" class="col-sm-2 col-form-label">Precio Venta:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="edit_precioVenta" name="edit_precioVenta" placeholder="Precio Venta" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="edit_cantidad" class="col-sm-2 col-form-label">Cantidad:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="edit_cantidad" name="edit_cantidad" placeholder="Número de artículos" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="edit_CatalogoId">Seleccionar el estado:</label>
                            @Html.DropDownList("edit_CatalogoId", ViewBag.tipoCatalogo as SelectList, new { @class = "form-control" })

                        </div>
                        <div class="form-group col-md-6">
                            <label for="edit_bodega">Seleccionar la bodega:</label>

                            @Html.DropDownList("edit_BodegaId", ViewBag.Bodega as SelectList, new { @class = "form-control" })
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="col-md-5 btn btn-lg btn-primary">Aplicar cambios</button>
                        </div>

                    </div>
                </form>


            </div>

        </div>
    </div>
</div>



