﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    

        <div class="d-flex justify-content-center fadeInDown" id="login">
            <div class="card shadow-lg p-1 mb rounded">
                <div class="card-body text-center">
                    <div id="message" class="alert alert-danger text-center" role="alert">                        
                        <p>@ViewBag.Login</p>
                    </div>
                    <p class="card-text text-center"><i class="fas fa-users text-primary" id="user-icon"></i></p>
                    <form action="/Home/Index" method="post">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="username"></label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="pass"></label>
                                <input type="password" id="pass" name="pass" class="form-control" placeholder="Contraseña" required>
                            </div>
                        </div>
                        <hr />
                        <button type="submit" class="btn btn-lg btn-block btn-primary">Ingresar</button>
                    </form>
                </div>
            </div>
            </div>
    
